
/*************************** Estilos para dispositivos móveis ***************************/
@media (max-width: 767.98px) {

    a.link-rodape {
        margin-bottom: 10px;
    }    

    header .nav-link {
        font-size: 1.1em;
    }

}
/**************************** Estilos para tablets ****************************/
@media (min-width: 768px) and (max-width: 991.98px) {
    
    header .nav-link {
        font-size: 1.2em;
    }

}

/**************************** Estilos para monitores ****************************/
@media (min-width: 992px) {

    
    .container-rodape {
        margin: 30px 279px;
    }
    
}


/**************************** Ajustes extras ****************************/
@media (max-width: 495px) {
    .carousel-text img {
        display: none;
    }

    .main-content .carousel {
        width: 100%;
        min-height: 200px;
    }

    .container-redes a, .link-topo a {
        font-size: 20px;
    }

    .link-topo a {
        bottom: 53px;
    }

    #transcript-container {
        width: 100%;
        height: 380px;
    }
    
    #main-container {
        background-image: url('../imagens/background-principal-pequena.webp');
    }

    .container-rodape {
        margin: 30px 0;
    }
}

@media (max-width: 575px) {
    
    header .offcanvas.offcanvas-end {
        margin-top: 100px;
    }

    .solutions-content {
        margin: 40px 0;
        justify-content: center;
    }

    .solutions-title {
        font-size: 16px;
    }

    .solutions-item {
        height: 315px;
    }

    .solutions-item:hover {
        transform: scale(1);
    }
}

